.content {
    overflow: hidden;
    position: absolute;
    top: 9.3vh;
    left: 0vw;
    text-align: center;
    min-height: 83vh;
    max-height: 83vh;
    min-width: 100vw;
    max-width: 100vw;
}

.btnDiv {
    width: 100%;
    text-align: center;
}

.pageBtn {
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
    width: 20vw;
}

.marker {
    cursor: pointer;
}

.alertToast {
    position: absolute;
    bottom: 2vh;
    right: 0.2vw;
}

.reportFormContainer {
    position: absolute;
    text-align: center;
    top: 3vh;
    left: 5vw;
    width: 90vw;
    height: 75vh;
}

.reportPage {
    max-height: 60vh;
    padding: 2vh 0.2vw 2vh 0.2vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.canvasContainer {
    min-height: 28vh;
    max-height: 28vh;
}

.imgCanvas {
    position: inherit;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 28vh;
    max-height: 28vh; 
}

.loginToastContainer {
    min-width: 100%;
    padding-left: 34%;
    color: red;
    text-align: center;
    border-radius: 5px;
}

.verifyBtn {
    width: 100%;
}

.loginContainer {
    position: relative;
    margin-top: 10vh;
    animation-name: top-transition;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes top-transition {
    from {
        margin-top: -40vh;
        opacity: 0;
    }
    to {
        margin-top: 0.1vh;
        opacity: 1;
    }
}